/* Color themes - Rectangle */
.themeOrange {
  background-color: var(--color-main-orange);
  border: 1px solid var(--color-main-orange);
  border-radius: 0.125rem;
}

.themeLightGray {
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-100);
  border-radius: 0.125rem;
}

.themeSummary {
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-100);
  border-radius: 0.125rem;
}

/* Triangle base */
.triangle {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Triangle colors */
.triangleWhite {
  border-color: var(--color-white) var(--color-white) transparent
    var(--color-white);
}

.triangleOrange {
  border-color: transparent transparent var(--color-white) var(--color-white);
}

.triangleLightGray {
  border-color: transparent transparent var(--color-white) var(--color-white);
}

.triangleSummary {
  border-color: transparent transparent var(--color-neutral-200)
    var(--color-neutral-200);
}

/* Triangle sizes */
.triangleSizeSmall {
  border-width: 1.25rem 0 0 1.25rem;
  border-bottom-left-radius: 0.125rem;
}

.triangleSizeLarge {
  border-width: 2.5rem 0 0 2.5rem;
  border-bottom-left-radius: 0.125rem;
}

/* Shadows */
.shadowLight {
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
}

.shadowMedium {
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}

/* Animation */
.animated {
  transition: 0.3s;
}

.folding:hover {
  /* biome-ignore lint/complexity/noImportantStyles: TODO */
  background-color: var(--color-neutral-100) !important;
}

.folding::before,
.folding::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  width: 0;
  height: 0;
  transition: 0.3s;
  border-bottom-left-radius: 2px;
}

.folding::before {
  background: linear-gradient(
    -135deg,
    var(--color-white) 50%,
    var(--color-neutral-100) 50%
  );
}

.folding::after {
  background: linear-gradient(
    -135deg,
    transparent 50%,
    var(--color-neutral-100) 50%
  );
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.folding:hover::before,
.folding:hover::after {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
}
