# 카맵 API 키
VITE_KAKAO_MAP_API_KEY=

# staging 서버 SSH 설정
CSEREAL_STAGING_SSH_KEY=
CSEREAL_STAGING_SSH_USER=
CSEREAL_STAGING_SSH_HOST=
CSEREAL_STAGING_SSH_PORT=

# 프로덕션 서버 SSH 설정
CSEREAL_PROD_SSH_KEY=
CSEREAL_PROD_SSH_USER=
CSEREAL_PROD_SSH_HOST=
CSEREAL_PROD_SSH_PORT=
